src/main/resources/cancelar.xsd


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://touresbalon.com/cancelacion" elementFormDefault="qualified">

    <xs:element name="cancelarOrdenRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orderId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cancelarOrdenResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estadoCancelacion" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>